<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Agenda">
    <meta name="author" content="e-ghost 2019">

    <title>AgendaVue</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/freelancer.css" rel="stylesheet">

    <link href="css/social.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


    <!-- JSON-LD -->
    <!-- Este es el script inicial. Se actualiza con cambios en la agenda de contactos -->
    <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "WebPage",
          "name": "AgendaVue",
          "description": "Agenda básica en Vue",
          "author": {
            "@type": "Organization",
            "name": "iwbi14",
            "email": "info@iwbi14.com"
          },
          "publisher": {
            "@type": "Organization",
            "name": "AgendaVue",
            "url": "http://IW-BI-14.com"
          },
          "mainEntity": {
            "@type": "ItemList",
            "itemListElement": [
              {
                "@type": "Person",
                "name": "Elon Musk",
                "email": "info@spacex.com",
                "telephone": "90346628",
                "sameAs": "https://twitter.com/elonmusk"
              },
              {
                "@type": "Person",
                "name": "Gukesh D",
                "email": "contact@gukeshchess.com",
                "telephone": "987654323",
                "sameAs": "https://twitter.com/DGukesh"
              }
            ]
          },
          "potentialAction": {
            "@type": "AddAction",
            "target": "#AgregarContacto",
            "result": {
              "@type": "Person",
              "name": "Ejemplo nombre",
              "email": "ejemplo@gmail.com",
              "telephone": "Número de teléfono"
            }
          }
        }
        </script>

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" itemscope itemtype="http://schema.org/SiteNavigationElement">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Cambiar navegación</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top" itemprop="name">AgendaVue</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contactos" itemprop="url">Contactos</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#nuevo" itemprop="url">Añadir contacto</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about" itemprop="url">Acerca de...</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <!-- Especificamos que vamos a utilizar el vocabulario que se encuantra en http://schema.org/ -->
    <!-- Con RDFa: vocab="http://schema.org/" typeof="WebPage" resource="#AgendaVue" -->
    <header itemscope itemtype="http://schema.org/WebPage" itemid="#AgendaVue">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <span class="name" itemprop="name">AgendaVue</span>
                        <hr class="star-light">
                        <span class="skills" itemprop="description">Agenda básica en Vue</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Contactos Grid Section -->
    <div class="container" id="appVue">
        <!-- Añadir nuevo Section -->
        <section id="nuevo">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>Añadir contacto</h2>
                        <hr class="star-primary">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <!-- Utilizamos los v-model -->
                        <!-- Con RDFa -->
                        <form vocab="http://schema.org/" typeof="AddAction" resource="#AgregarContacto" name="sentMessage" id="contactForm" novalidate>
                            <div class="row control-group">
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    <label>Nombre</label>
                                    <input type="text" class="form-control" placeholder="Nombre" id="name" v-model="nombre" property="object.name">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="row control-group">
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    <label>Email</label>
                                    <input type="email" class="form-control" placeholder="Email" id="email" v-model="email" property="object.email">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="row control-group">
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    <label>Teléfono</label>
                                    <input type="tel" class="form-control" placeholder="Número de teléfono" id="phone" v-model="telefono" property="object.telephone">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="row control-group">
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    <label>Nombre de Twitter</label>
                                    <input type="text" class="form-control" placeholder="Nombre de Twitter (sin @)" id="twitter" v-model="twitter" property="object.sameAs">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <br>
                            <div id="success"></div>
                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <button type="submit" class="btn btn-success btn-lg" @click="guardarContacto" :disabled="isInvalid">Añadir</button>
                                    <!-- Aquí en ese botón pondre un @click -->
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <section id="contactos">
            <!-- Para recorrer el array de contactos utilizar 'vfor' -->
            <!-- Por cada elemento que tenemos en esa tabla-->
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>Contactos</h2>
                        <hr class="star-primary">
                    </div>
                </div>
                <div>
                <div class="row">
                    <div class="col-xs-4">
                        <h4>Nombre</h4>
                    </div>
                    <div class="col-xs-4">
                        <h4>Email</h4>
                    </div>
                    <div class="col-xs-3">
                        <h4>Teléfono</h4>
                    </div>
                    <div class="col-xs-3">
                        <h4>Twitter</h4>
                    </div>
                </div>
                <!-- ESTA ES LA PRIMERA parte (alguna etiqueta tendrá que tener el id de ese objeto 'Vue') -->
                <!-- el = "el id de la página que está afectada" -->
                <!-- Con RDFa: vocab="http://schema.org/" typeof="Person" :resource="`${contacto.nombre}`" -->
                 <!-- Para este bloque MicroData -->
                <div class="row" v-for="(contacto, pos) in contactos" :key="pos" itemscope itemtype="http://schema.org/Person" itemid="#{{contacto.nombre}}">
                    <div class="col-xs-4">
                        <p itemprop="name">{{contacto.nombre}}</p>
                    </div>
                    <div class="col-xs-4">
                        <p itemprop="email">{{contacto.email}}</p>
                    </div>
                    <div class="col-xs-3">
                        <p itemprop="telephone">{{contacto.telefono}}</p>
                    </div>
                    <div class="col-xs-3">
                        <p itemprop="sameAs">
                            <a :href="'https://twitter.com/' + contacto.twitter" 
                                target="_blank" 
                                class="btn btn-primary btn-sm"
                                rel="noopener noreferrer">
                                Seguir a {{ contacto.twitter }}
                            </a>
                        </p>
                    </div>
                    <div class="col-xs-1">
                        <!-- Este cuarto elemento que habrá en cada fila es el botón para borrar el contacto -->
                        <!-- En este botón vamos a asociar el @remove -->
                        <button class="btn btn-danger btn-sm" @click="borrarContacto(pos)"><span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                </div>
                </div>
                <div>
                <div class="row">
                    <div class="col-xs-12">
                        <p v-if="contactos.length === 0">No se ha encontrado ningún contacto.</p>
                    </div>
                </div>
                </div>
            </div>
            <div id="botones">
                <!-- Cambio el texto del botón -->
                <button type="submit" @click="porAntiguedad">{{texto()}}</button>
            </div>
            <div class="social-container">
                <div id="fb-root"></div>
                <h3 class="social-title">Síguenos y comparte</h3>
                <div class="social-buttons">
                    <!-- Twitter -->
                    <div class="twitter-section">
                        <a href="https://twitter.com/share" 
                            class="twitter-share-button"
                            data-text="¡Comparte nuestro proyecto!" 
                            data-url="https://x.com/IW_BI_14" 
                            data-via="yourtwitterhandle" 
                            data-hashtags="AgendaVue">
                            Compartir en Twitter
                        </a>
                        <a href="https://x.com/IW_BI_14/status/1866148920818078071" class="twitter-like-button" 
                            data-show-count="false" data-lang="es">
                            ¡Like a nuestro último Post!
                        </a>
                        <a href="https://x.com/IW_BI_14" class="twitter-follow-button" 
                            data-show-count="false" data-lang="es">
                            Seguir
                        </a>
                    </div>
            
                    <!-- Facebook -->
                    <div class="facebook-section">
                        <div class="fb-page" 
                            data-href="https://www.facebook.com/ATHLETICCLUB/" 
                            data-tabs="timeline" 
                            data-width="300" 
                            data-height="200" 
                            data-small-header="false" 
                            data-adapt-container-width="true" 
                            data-hide-cover="false" 
                            data-show-facepile="true">
                        </div>
                        <div class="fb-share-button" 
                            data-href="https://www.facebook.com/ATHLETICCLUB/" 
                            data-layout="button_count">
                        </div>
                        <!-- <div class="fb-like" 
                            data-href="https://www.facebook.com/photo/?fbid=1124718029013403&set=a.789988715819671" 
                            data-width=""
                            data-layout="button" 
                            data-action="like" 
                            data-size="small"  
                            data-share="true">
                        </div> -->
                    </div>
                </div>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                <script async defer crossorigin="anonymous" 
                    src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v17.0" 
                    nonce="xxxx">
                </script>
            </div>
        </section>
    </div>

    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Acerca de...</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>AgendaVue es un proyecto simple en VueJS.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <!-- prefix para referenciar términos que  que no están (claramente) incluidos en http://schema.org/-->
    <!-- Uso del vocabulario de Creative Commons que contiene términos relacionados con licencias y derechos de autor -->
    <!-- Para este bloque RDfa -->
    <footer class="text-center" vocab="http://schema.org/" typeof="Organization" resource="#eGhost" prefix="cc: http://creativecommons.org/ns#">
        <div class="footer-above">
            <div class="container">
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12" property="cc:license"> 
                        Copyleft &copy; e-ghost 2019
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/freelancer.js"></script>
    
    <!-- Vue -->
    <script src="js/vue.js"></script>   


    <!--  -->
    <!--  -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="js/appVue.js"></script>

</body>

</html>
